@page "/courses/{CourseId:int}"
@using LirmiChallenge.Client.Services
@using LirmiChallenge.Client.Models
@inject CourseService CourseService

<PageTitle>Detalles del Curso</PageTitle>

@if (isLoading)
{
    <LoaderSpinner />
}
else {
    <div class="lirmi-title-container">
    <MudText Class="lirmi-text-title" Typo="Typo.h4">Detalles del Curso</MudText>
</div>

@if (course != null)
{
    <MudPaper Elevation="4" Class="pa-4">
        <MudGrid>
            <MudItem xs="12">
                <MudCard>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Nombre: @course.Name</MudText>
                        <MudText Typo="Typo.h6">Color: <span style="color:@course.Color;">@course.Color</span></MudText>
                        <MudText Typo="Typo.h6">Total de Estudiantes: @course.TotalStudents</MudText>
                        <MudText Typo="Typo.h6">Total de Asignaturas: @course.TotalSubject</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudPaper>
}
else
{
    <MudText>Curso no encontrado.</MudText>
}
}



@code {
    [Parameter]
    public int CourseId { get; set; }
    private bool isLoading = true;

    private Course? course;

    protected override async Task OnParametersSetAsync()
    {
        await Task.Delay(600);
        course = await CourseService.GetCourseByIdAsync(CourseId);
        isLoading = false;
    }
}
